@media(min-width:768px){
    .mobile-header{
        display: none;
    }
    .header{
    display: flex;
 background: var(--ion-color-primary);
    padding-left: 40px;
    padding-right: 40px;
    
}

}

@media(max-width:768px){
    .mobile-header{
        display: block;
    }
    .header{
        display: none;
    }
}

.active-item{
    border-bottom: 2px solid var(--ion-color-primary);
}

.dropdown {
    width: 156.45px;
    height: 150px;
    position: absolute;
    top:58px;
left:87px;

ion-item:hover{
    --ion-item-color: var(--ion-color-primary)
}
}

