<ion-header class="mobile-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"> </ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row class="header ion-align-items-center">
  <ion-col size="2">
    <img src="assets/icon/space-x-logo.png" width="50px" />
  </ion-col>
  <ion-col size="10" class="ion-text-left">
    <ion-button
      fill="clear"
      color="light"
      routerLink="/"
      routerDirection="root"
      routerLinkActive="active-item"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </ion-button>

    <ion-button
      #launchesbtn
      (mouseenter)="dropdown = true"
      (mouseleave)="hideDropdown($event)"
      fill="clear"
      color="light"
      routerLink="/products"
      routerDirection="root"
      routerLinkActive="active-item"
    >
      Lancements
      <ion-icon
        slot="end"
        [name]="dropdown ? 'chevron-down' : 'chevron-up'"
      ></ion-icon>
    </ion-button>
    <div
      class="dropdown"
      *ngIf="dropdown"
      (mouseleave)="dropdown = false"
      #dropdownbox
    >
      <ion-item
        button
        (click)="dropdown = false"
        routerLink="/launches"
        [queryParams]="{ category: 'all' }"
        lines="none"
      >
        Tous
      </ion-item>
    </div>

    <ion-button
      fill="clear"
      color="light"
      routerLink="/capsules"
      routerDirection="root"
      routerLinkActive="active-item"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Capsules
    </ion-button>
    <ion-button
      fill="clear"
      color="light"
      routerLink="/cores"
      routerDirection="root"
      routerLinkActive="active-item"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Cores
    </ion-button>
    <ion-button
      fill="clear"
      color="light"
      routerLink="/crew"
      routerDirection="root"
      routerLinkActive="active-item"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Crew
    </ion-button>
  </ion-col>
</ion-row>
