<ion-content>
  <div>
    <ion-header [translucent]="true" lines="none">
      <ion-title class="ion-text-center ion-padding" color="light">
        <h2>Historique</h2>
      </ion-title>
    </ion-header>
    <ng-container *ngIf="historyEvents$ as historyEvents">
      <ion-slides [options]="slideOpts" class="ion-margin-top">
        <ion-slide *ngFor="let event of historyEvents">
          <ion-card class="history-events-cards" color="light">
            <img src="assets/icon/space-x-logo.png" class="historyEventsImg" />
            <ion-card-header>
              <ion-card-subtitle class="history-subtitle"
                ><span class="items-key">Le</span>
                <span> {{event.event_date_utc}}</span></ion-card-subtitle
              >
              <ion-card-title class="history-title">
                <span> {{event.title}}</span></ion-card-title
              >
            </ion-card-header>

            <ion-card-content class="history-content">
              <span
                >{{event.details.length > 100 ? event.details.slice( 0, 55) :
                event.details }}</span
              >
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ng-container>

    <ion-header [translucent]="true" lines="none">
      <ion-title class="ion-text-center ion-padding" color="light">
        <h2>Dernier lancement</h2>
      </ion-title>
    </ion-header>
    <ng-container
      *ngIf="latestLaunches$ as latestLaunches"
      class="latest-launch-container"
    >
      <ion-grid>
        <ion-row>
          <ion-col
            size-xs="12"
            size-sm="8"
            size-l="6"
            offset-sm="2"
            offset-l="3"
          >
            <ion-card class="cards" color="light">
              <div class="ion-text-center ion-padding">
                <img
                  [src]="latestLaunches.links.patch.small"
                  class="ion-cards-img"
                />
              </div>
              <ion-card-header>
                <ion-card-subtitle
                  ><span class="items-key">N°: </span>
                  <span
                    >{{latestLaunches.flight_number}}</span
                  ></ion-card-subtitle
                >
                <ion-card-title>
                  <span>{{latestLaunches.name}}</span></ion-card-title
                >
              </ion-card-header>

              <ion-card-content>
                <p>
                  {{latestLaunches.details ? "DÉtails" : "Date de lancement" }}:
                </p>
                <p>
                  {{latestLaunches.details ? latestLaunches.details :
                  latestLaunches.date_utc }}
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <app-company-info></app-company-info>
  </div>
</ion-content>
