<ion-content>
  <ion-list *ngIf="allLaunches$ as allLaunches">
    <ion-item
      *ngFor="let launch of allLaunches"
      (click)="pushLauncheDetails(launch)"
    >
      <ion-thumbnail slot="start">
        <img src="{{launch.links.patch.small}}" />
      </ion-thumbnail>
      <ion-label>{{launch.name}}</ion-label>
      <ion-label>{{launch.date_utc}}</ion-label>
      <ion-label>Réussite: {{launch.success ? "Oui" : "Non"}}</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
