<ng-container *ngIf="companyInfo">
  <ion-content>
    <ion-title class="ion-text-center">
      <ion-text color="light"
        ><h2>Informations sur la société</h2></ion-text
      ></ion-title
    >
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <div class="ion-text-center">
            <ion-text color="secondary">
              <h3>Nom de la société</h3>
            </ion-text>

            <p>
              <ion-text color="light">{{ companyInfo.name }}</ion-text>
            </p>
          </div>
        </ion-col></ion-row
      >
      <ion-row>
        <ion-col class="ion-text-center">
          <div class="ion-text-center">
            <ion-text color="secondary">
              <h3>Pdg</h3>
            </ion-text>
            <p>
              <ion-text color="light">{{ companyInfo.ceo }}</ion-text>
            </p>
          </div>
          <ion-col class="ion-text-center">
            <div class="ion-text-center">
              <ion-text color="secondary">
                <h3>Fondateur</h3>
              </ion-text>

              <p>
                <ion-text color="light">{{ companyInfo.founder }}</ion-text>
              </p>
            </div>
          </ion-col>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <div class="ion-text-center">
            <ion-text color="secondary">
              <h3>Directeur des opérations</h3>
            </ion-text>

            <p>
              <ion-text color="light">{{ companyInfo.coo }}</ion-text>
            </p>
          </div>
        </ion-col>
        <ion-col class="ion-text-center">
          <div class="ion-text-center">
            <ion-text color="secondary">
              <h3>Directeur technique</h3>
            </ion-text>

            <p>
              <ion-text color="light">{{ companyInfo.cto }}</ion-text>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <div class="ion-text-wrap">
            <ion-text color="secondary">
              <h3>Directeur technique de la propulsion</h3>
            </ion-text>

            <p>
              <ion-text color="light">{{
                companyInfo.cto_propulsion
              }}</ion-text>
            </p>
          </div>
        </ion-col>
        <ion-col class="ion-text-center">
          <div class="ion-text-nowrap">
            <ion-text color="secondary">
              <h3>Effectifs</h3>
            </ion-text>

            <p>
              <ion-text color="light">{{ companyInfo.employees }}</ion-text>
            </p>
          </div>
        </ion-col></ion-row
      >
      <ion-row>
        <ion-col class="ion-text-center">
          <div class="ion-text-nowrap">
            <ion-text color="secondary">
              <h3>Date de fondation</h3>
            </ion-text>
            <p>
              <ion-text color="light">{{ companyInfo.founded }}</ion-text>
            </p>
          </div>
        </ion-col>

        <ion-col class="ion-text-center">
          <div class="ion-text-nowrap">
            <ion-text color="secondary">
              <h3>Valorisation</h3>
            </ion-text>

            <p>
              <ion-text color="light">{{ companyInfo.valuation }} $</ion-text>
            </p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text color="secondary">
            <h3>Résumé</h3>
          </ion-text>

          <p>
            <ion-text color="light">{{ companyInfo.summary }}</ion-text>
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <div class="ion-text-nowrap">
            <ion-text color="secondary"> <h3>Adresse</h3></ion-text>

            <p>
              <ion-text color="light">{{
                companyInfo.headquarters.address
              }}</ion-text>
            </p>
          </div>
        </ion-col>

        <ion-col class="ion-text-center">
          <div class="ion-text-nowrap">
            <ion-text color="secondary"> <h3>Ville</h3></ion-text>
            <p color="light"></p>
            <p>
              <ion-text color="light">{{
                companyInfo.headquarters.city
              }}</ion-text>
            </p>
          </div>
        </ion-col>

        <ion-col class="ion-text-center">
          <div class="ion-text-nowrap">
            <ion-text color="secondary"> <h3>État</h3></ion-text>
            <p>
              <ion-text color="light">{{
                companyInfo.headquarters.state
              }}</ion-text>
            </p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-avatar
            class="horizontal-margin"
            href="{{companyInfo.links.elon_twitter}"
          >
            <img
              src="assets/icon/elon_musk_twitter.png"
              class="elon-musk-img"
            />
          </ion-avatar>
        </ion-col>

        <ion-col class="ion-text-center">
          <ion-button
            size="medium"
            href="{{ companyInfo.links.twitter }}"
            target="_blank"
          >
            <ion-icon name="logo-flickr"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center ion-justify-center">
          <ion-button
            size="medium"
            href="{{ companyInfo.links.flickr }}"
            target="_blank"
          >
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center ion-justify-center">
          <ion-button
            size="medium"
            href="{{ companyInfo.links.website }}"
            target="_blank"
          >
            <ion-icon name="globe-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>
